.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: green;
  padding-top: 5rem;
  text-align: center;

  .modal {
    display: flex;
    flex-direction: column;
    max-width: 300px;

    button {
      margin: 1rem;
    }
  }

  .error {
    color: red;
  }
}
