{
  "plugins": [
    "transform-class-properties",
    "transform-object-assign"
  ],
  "presets": [
    ["latest", {
      "es2015": {
        "modules": false
      }
    }],
    "react",
    "stage-3"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-class-properties",
        "transform-object-assign"
      ],
      "presets": [
        "latest",
        "react",
        "stage-3"
      ]
    }
  }
}
