/* include normalize before everything
  Use tachyons for now
  // @import 'normalize.css/normalize.css';
 */


/* GLOBAL STYLES */
html {

  /*
  Change font-size dynamically across screen widths? Maybe XS only...
  @media (max-width: $screenMdMax) {
    font-size: 18px;
  }
  @media (max-width: $screenSmMax) {
    font-size: 16px;
  }
  @media (max-width: $screenXsMax) {
    font-size: 16px;
  }
  */

  box-sizing: border-box;

  /*
    NOTICE!
    This is the base pixel size for all 'rem' measurements.
    If you update this here, also update in the font mixins:
      src/styles/mixins/font.css
  */
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
  font-family: $fontFamily;
  font-weight: $fontWeight;

  &:focus, &:active {
    outline: none;
  }
}

button {
  cursor: pointer;
  /* Apply design guideline */
  background-color: transparent;
  border: solid 1px $colorTheme;
  border-radius: 3px;
  color: $colorTheme;
  padding: 1rem;
}

body {
  color: $colorDark;
}

h1, h2, h3, h4, h5 {
  line-height: 1.25em;
  color: $colorDark;
}

h1 {
  @mixin font-size 64;
}

h2 {
  @mixin font-size 40;
}

h3 {
  @mixin font-size 30;
}

h4 {
  @mixin font-size 12;
}

h5 {
  @mixin font-size 12;
  color: $colorGray;
}

p {
  font-size: 1.25em;
  line-height: 1.5em;

  @media (max-width: $screenSmMax) {
    font-size: 1em;
  }
}

ul {
  list-style: none;
  padding: 0;

  /*
  Example of keeping text indented for bullet-list:
  padding-right: 1em;
  li {
    list-style-position: inside;
    text-indent: -1.5em;
    padding-left: 1em;
    padding-bottom: 1em;
  }

  li:before {
    padding-right: .5em;
    content: '\2022';
    color: $colorDark;
    fill: $colorDark;
  }
  */
}

a {
  cursor: pointer;
  color: $colorTheme;
  text-decoration: none;

  &:hover {
    color: $colorThemeSecondary;
  }

  &:focus, &:active {
    color: $colorTheme;
    outline: none;
    text-decoration: none;
  }
}

input {

  &::placeholder {
    /* IE equivalent */
    opacity: .5;
  }

  &:focus, &:active {
    outline: none;
  }
}
