.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  color: green;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 300px;

  button {
    margin-top: 1rem;
  }
}
