.login {
  min-width: 400px;
  max-width: 100vw;
  max-height: 100vh;
  border-radius: $borderRadius;
  background-color: $colorWhite;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: $s3;

  p {
    @mixin font-size 16;
    font-weight: 500;
  }
}

.header {
  flex: 1 1 auto;
  position: relative;
  margin-bottom: $s4;
  display: flex;
  justify-content: center;
}

.title {
  @mixin font-size 22;
  font-weight: 500;
  text-align: center;
  color: $colorDark;
  margin-top: $s3;
}

.icnCloseOff {
  position: absolute;
  left: 0;
  padding: 0;
  @mixin image-url static/images/icn_close_off.png, 22, 22;
  border: none;
}

.loginForm {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: $s4 auto;
  text-align: left;

  input {
    margin-bottom: $s2;
  }
}

.forgotPassword {
  text-align: center;
  margin-top: $s4;
}

.error {
  color: red;
  margin: auto;
}

.submit {
  background-color: $colorTheme;
  color: $colorWhite;
  margin-top: $s3;
}
