/*
  Image mixins

  Enables you to declare with actual image dimensions and base filename:
  @mixin image logo, 256, 256;  (filename, width, height)

*/


@define-mixin image $name, $width, $height {
  @media (max-resolution: 1dppx) {
    background-image: url(images/$(name).png);
  }
  background-image: url(images/$(name)@2x.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: $(width)px;
  height: $(height)px;
  display: inline-block;
}


/* Aspect Ratio-driven ...Work-in-Progress */
@define-mixin fluid-image $name, $width, $height {
  position: relative;

  & > div {
    @media (max-resolution: 1dppx) {
      background-image: url(images/$(name).png);
    }
    background-image: url(images/$(name)@2x.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    /* height: $(height)px; */
    width: 100%;
    padding-bottom: calc(($height / $width) * 100)%;
  }
}


@define-mixin image-jpg $name, $width, $height {
  @media (max-resolution: 1dppx) {
    background-image: url(images/$(name).jpg);
  }
  background-image: url(images/$(name)@2x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: $(width)px;
  height: $(height)px;
  display: inline-block;
}


@define-mixin image-url $url, $width, $height {
  background-image: url($url);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: $(width)px;
  height: $(height)px;
  display: inline-block;
}


@define-mixin splash $name {
  @media (max-resolution: 1dppx) {
    background-image: url(images/$(name).png);
  }
  background-image: url(images/$(name)@2x.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


@define-mixin splash-url $url {
  background-image: url($url);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
