@define-mixin page-padding-sides {

  @media (max-width: $screenLgMax) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (max-width: $screenSmMax) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  padding-left: 5rem;
  padding-right: 5rem;
}
