@define-mixin video {
  /*
    Parent element needs:
    position: relative;
    overflow: hidden;
  */

  @media (max-width: 1025px) {
    display: none;
  }

  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
